@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body
{
font-family: 'Open Sans', sans-serif;
overflow-y: scroll;
overflow-x: hidden;
}

.navbar
{
display: flex;


background-color: #A1CDE3;
max-height: 10vh;
}

.nav {

display: flex;
justify-content: space-between;
justify-items: center;

}

.nav li {

    display: flex;
    justify-content: space-between;
    justify-items: end;
    gap: 20vw;
}

.navbar img {
    display: inherit;
    justify-content: start;
    max-height: 9vh; 
}
.logo 
{
    position: relative;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    max-width: 20vh;
    
}