@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body
{
font-family: 'Open Sans', sans-serif;
overflow-y: scroll;
overflow-x: hidden;
}

.navbar
{
display: flex;
align-self: flex-start;



background-color: #A1CDE3;
max-height: 10vh;
}

.nav {

display: block ruby;
margin-left: 10%;
text-decoration: none;


}

.nav a {

text-decoration: none;
color: rgb(44, 44, 44);
font-size: 200%;
padding-top: 40%;
margin-left: 3vw;

}



.navbar img {
    display: inherit;
    justify-content: start;
    max-height: 9vh; 
    
}
.logo 
{
    position: relative;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    max-width: 20vh;
    
}

.models 
{
    display: grid;
    justify-content: column ;
    align-items: center;
    margin-top: 10%;
    
}


.models img 
{
    max-width: 50%;
    max-height: 50vh;
}

#MainCar {
    min-width: 100vw;
    min-height: -moz-available;
}