body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #548096;
}

.allcontainer {

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 14vh;
gap: 3vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Aligns items to the left */
  gap: 20px; /* Adjusts the space between items */

  border-color: #000;
}

.card {
  width: 100%;
  max-width: 600px; /* Maximum width of the card */
  background-color: white; /* Sets the card's background to white */
  border-radius: 15px; /* Rounds the corners of the card */
  border-color: #000;
}

.card img {
  width: 100%;
  height: auto; /* Maintains the aspect ratio */
  border-top-left-radius: 15px; /* Rounds the top-left corner of the image */
  border-top-right-radius: 15px; /* Rounds the top-right corner of the image */
}

.card .content {
  padding: 15px;
  border-bottom-left-radius: 15px; /* Rounds the bottom-left corner of the content */
  border-bottom-right-radius: 15px; /* Rounds the bottom-right corner of the content */
  border-color: #000;
}

.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.card p {
  color: gray;
  margin: 5px 0;
}

button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin: 10px 5px 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

.navbar {
  display: flex;
  align-self: flex-start;
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0; /* Ensures it sticks to the left edge */
  min-width: 100%;
  max-height: 10vh;
  z-index: 1000; /* Ensures it stays on top of other content */

  background: rgb(125,157,172);
  background: linear-gradient(0deg, rgba(125,157,172,1) 0%, rgba(85,104,112,1) 0%, rgba(131,152,152,1) 48%, rgba(85,104,112,1) 100%, rgba(125,157,172,1) 100%); 
}


.nav {

display: block ruby;
margin-left: 10%;
text-decoration: none;


}

.nav a {

text-decoration: none;
color: rgb(44, 44, 44);
font-size: 200%;
padding-top: 0%;
margin-left: 3vw;

}

.nav li {
  display: flex;
  width: fit-content;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
  gap: 1vw;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



.navbar img {
    display: inherit;
    justify-content: start;
    max-height: 9vh; 
    
}

.allcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 14vh; /* Adjust as needed based on navbar height */
  gap: 3vh;
}
